// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Playfair+Display:ital,wght@0,500;1,400;1,500&family=Zen+Kurenaido&display=swap');

h1 {
    font-family:'EB Garamond', serif;
    color: rgb(240, 35, 188);
    
  }
  

h2 {
    font-family:'EB Garamond', serif;
justify-content: center;
}